# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyc

# Virtual environment
venv/
env/

# Environment variables
.env

# macOS/Linux system files
.DS_Store

# Visual Studio Code settings
.vscode/
